html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #1a1a22;
}

h1, h2 {
  text-align: center;
  color: white;
}

.text {
  max-width: 480px;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  line-height: 35px;
}

label {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #2a2a35;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

footer {
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  line-height: 1.6;
  background: #2a2a35;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

footer iframe {
  border-radius: 15px;
  width: 420px;
  height: 200px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}

.box {
  max-width: 900px;
  margin: 0 auto 40px;
  padding: 20px;
  background: #2a2a35;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #1a1a22;
  border-radius: 15px;
  color: white;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.info {
  background: #1a1a22;
  border-radius: 15px;
  color: white;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 450px;
}

a {
	text-decoration: none;
}

img {
  border-radius: 10px;
  margin-bottom: 20px;
  border: 5px solid #1a1a22;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 100%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;

  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #2a2a35;
  color: white;
  width: 400px;
  max-width: 90%;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.modal img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
  cursor: pointer;
  color: white;
}